{% extends "base.html" %}

{% block content %}
<h1>Your Account</h1>

<h2>Your Projects</h2>
<ul>
  {% for membership in memberships %}
  <li>
    <a href="{{ membership.project.get_absolute_url }}">
      {{ membership.project }}
    </a>
  </li>
  {% endfor %}
</ul>

<h2>Your Invitations</h2>
{% if not invites %}
You do not have any pending project invitations.
{% endif %}

{% for invite in invites %}
Invitation to join {{ invite.project.slug }}

<form method="POST"
      action="{% url member_project_invites invite.user.username invite.project.slug %}">
  {% csrf_token %}
  <input type="hidden" name="action" value="accept" />
  <input type="submit" name="Accept" />
</form>

<form method="POST"
      action="{% url member_project_invites invite.user.username invite.project.slug %}">
  {% csrf_token %}
  <input type="hidden" name="action" value="reject" />
  <input type="submit" name="Decline" />
</form>

<hr/>
{% endfor %}
{% endblock %}
