{% extends "base.html" %}

{% block content %}
<h1>Your Account</h1>

<h2>Your Projects</h2>
<ul>
  {% for membership in memberships %}
  <li>
    <a href="{{ membership.project.get_absolute_url }}">
      {{ membership.project }}
    </a>
  </li>
  {% endfor %}
</ul>

<h2>Your Invitations</h2>
{% if not invites %}
You do not have any pending project invitations.
{% endif %}

{% for invite in invites %}
Invitation to join {{ invite.project.slug }}

<form method="POST"
      action="{% url member_project_invites invite.user.username invite.project.slug %}">
  {% csrf_token %}
  <input type="hidden" name="action" value="accept" />
  <input type="submit" value="Accept" />
</form>

<form method="POST"
      action="{% url member_project_invites invite.user.username invite.project.slug %}">
  {% csrf_token %}
  <input type="hidden" name="action" value="reject" />
  <input type="submit" value="Decline" />
</form>

<hr/>
{% endfor %}

<h2>Manage Your Contact Methods</h2>
<ol>
  {% for contact in contacts %}
  <li>
    {{ contact }} 
    {% if contact.email == user.email %}
    <b>Primary</b>
    {% else %}
    {% if contact.confirmed %}
    <form method="POST" action="{% url member_email_contacts_entry user.username contact.pk %}">
      {% csrf_token %}
      <input type="submit" value="Make primary" />
    </form>
    {% endif %}
    {% endif %}
  </li>
  {% endfor %}
</ol>
<form method="POST" action="{% url member_email_contacts user.username %}">
  {% csrf_token %}
  Add an email address:
  {{ contact_add_form.as_p }}
  <input type="submit" />
</form>
{% endblock %}
