{% extends "base.html" %}

{% block content %}
<h1>{{ project }}</h1>
<h2>Your Team</h2>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" />
</form>

<h2>Invitations</h2>
{% if not invites %}
Your project does not have any pending invitations.
{% endif %}

<ul>
  {% for invite in invites %}
  <li>
    {{ invite.inviter }} invited {{ invite.user }} to join the project on {{ invite.created }}.

    <form method="POST" action="{% url project_team_invite project.slug %}">
      {% csrf_token %}
      <input type="hidden" name="username"
	     value="{{ invite.user.username }}"></input>
      <input type="submit" value="Remind" />
    </form>
    <form method="POST" action="{% url project_team_invite project.slug %}">
      {% csrf_token %}
      <input type="hidden" name="action" value="remove" />
      <input type="hidden" name="username"
	     value="{{ invite.user.username }}"></input>
      <input type="submit" value="Remove" />
    </form>
    
  </li>
  {% endfor %}
</ul>

<h2>Invite Somebody</h2>
{% if invite_search_results %}
{% for user in invite_search_results %}
<form method="POST" action="{% url project_team_invite project.slug %}">
  {% csrf_token %}
  {{ user }}
  <input name="username" type="hidden" value="{{ user.username }}"></input>
  <input type="submit" value="Invite" />
</form>
{% endfor %}

Or search again:
{% endif %}

<form action="{% url project_team_manage project.slug %}">
  Search for a user to invite
  by username, name or email: <input name="invite_search"></input>
  <input type="submit" value="Search" />
</form>

<form method="POST" action="{% url project_team_invite_email project.slug %}">
  {% csrf_token %}
  Or invite a new user to create an account and join your project:
  <input name="email" />
  (optional) Send a message: <input name="custom_message" />
  <input type="submit" value="Send" />
</form>
{% endblock %}
